## House selection using TOPSIS method

In [61]:
using JMcDM

In [53]:
using Pkg

In [54]:
using DataFrames

In [55]:
df = DataFrame(
    price            = [2500.0, 3000, 4000, 5000],
    rooms             = [2.0   ,  2,  3,    3   ],
    size              = [50.0  , 75,  100, 100   ],
    distance_to_transportation = [1000.0, 1200, 800, 750  ],
    years             = [3.0,  4,  8,  7]
)

4×5 DataFrame
 Row │ price    rooms    size     distance_to_transportation  years
     │ Float64  Float64  Float64  Float64                     Float64
─────┼────────────────────────────────────────────────────────────────
   1 │  2500.0      2.0     50.0                      1000.0      3.0
   2 │  3000.0      2.0     75.0                      1200.0      4.0
   3 │  4000.0      3.0    100.0                       800.0      8.0
   4 │  5000.0      3.0    100.0                       750.0      7.0

In [56]:
using JMcDM

In [57]:
w = [0.40, 0.35, 0.10, 0.10, 0.05]

5-element Vector{Float64}:
 0.4
 0.35
 0.1
 0.1
 0.05

In [58]:
sum(w)

1.0

In [59]:
directions = [minimum, maximum, maximum, minimum, minimum]

5-element Vector{Function}:
 minimum (generic function with 14 methods)
 maximum (generic function with 13 methods)
 maximum (generic function with 13 methods)
 minimum (generic function with 14 methods)
 minimum (generic function with 14 methods)

In [60]:
topsis_result = topsis(df, w, directions)

Scores:
Any[0.6406174807581927, 0.5803095524444111, 0.5322792751459361, 0.36892095845129724]
Best indices:
1